API_ID= # get this value from my.telegram.org
API_HASH= # get this value from my.telegram.org
BOT_TOKEN= # 7984813020:AAGelS1Vp7_IBKssFGF9qoMfI6X7sE31Xxs
OWNER_ID= # 8352863310
MONGO_DB_URI= # mongodb+srv://shiftenviro:shiftenviro@cluster0.azgnrae.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID= # -1003071220803
MUSIC_BOT_NAME= # Zero
STRING_SESSION= # pyrogram string session
COOKIES= # https://batbin.me/prehensor
